<div class="container">
  <h5>client_id: <strong><%= @application%></strong></h5> 
</div>
<% if current_user %>
  <h1><%= "Hello, #{current_user.email}" %></h1> 
<% end %>
<% if user_signed_in? %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>