<h1>Editing superhero</h1>

<%= render "form", superhero: @superhero %>

<br>

<div>
  <%= link_to "Show this superhero", @superhero %> |
  <%= link_to "Back to superheros", superheros_path %>
</div>
