<p style="color: green"><%= notice %></p>

<h1>Superheros</h1>

<div id="superheros">
  <% @superheros.each do |superhero| %>
    <%= render superhero %>
    <p>
      <%= link_to "Show this superhero", superhero %>
    </p>
  <% end %>
</div>

<%= link_to "New superhero", new_superhero_path %>
